/* css styles */
/* Centrar los nombres debajo de las imágenes*/
.caption{
   text-align: center;
}

table {
  border-collapse: collapse;
  display: grid;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 6px;
}

/* html, body {
  background-color: red !important;
} */